@()

@main("Welcome to Play") {
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TEMPO</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#"><b>HOME</b></a></li>
            <li><a href="#"><b>SERVICE</b></a></li>
            <li><a href="#"><b>PORTFOLIO</b></a></li>
            <li><a href="#"><b>OUR TEAM</b></a></li>
            <li><a href="#"><b>CONTACT US</b></a></li>
        </ul>
    </div>
</nav>
<div class="container-fluid big-image">
    <div class="container">
        <div id="welcome-text">WELCOME TO <b>TEMPO</b></div>
        <div id="under-welcome-text">MULTIPURPOSE HTML5 BOOTSTRAP TEMPLATE.</div>
        <div class="learn-more">
            <a href="#">
            <span id="learn-more-button">LEARN MORE&nbsp;&nbsp;&nbsp;<img id="paper-plane"
                                                                          src="@routes.Assets.versioned("stylesheets/paperplane.png")"></span>
            </a>
        </div>
    </div>
</div>
<div class="container-fluid say-hey">
    <div class="container">
        <center>
            <div id="hey-tempo">Say Hey to Tempo!!</div>
        </center>
        <center>
            <div id="under-hey-tempo">Full Responsive HTML5 Bootstrap Template.</div>
        </center>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="service">
        <center><div class="sub-heading">Our Service</div></center>
        <center>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
        </center>
        </div>
        <div class="under-sub-heading-border"></div>
        <div class="row service-row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <img class="service-img" src="@routes.Assets.versioned("stylesheets/code.png")">
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <div class="service-sub-heading">Design</div>
                        <div class="service-sub-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <img class="service-img" src="@routes.Assets.versioned("stylesheets/code.png")">
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <div class="service-sub-heading">Development</div>
                        <div class="service-sub-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <img class="service-img" src="@routes.Assets.versioned("stylesheets/code.png")">
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <div class="service-sub-heading">Marketing</div>
                        <div class="service-sub-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="service">
            <center><div class="sub-heading">Our Previous Works</div></center>
            <center>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </center>
        </div>
        <div class="under-sub-heading-border"></div>
    </div>
</div>
}
